<section class="container-fluid" class="panel">
    <div class="happy-list h-100 container-fluid">
        <div class="h-100 row d-flex align-items-end">
            <div class="col-4 h-100 happy-title">
            <h1 class="user-panel-heading">
                Mikka's <br>Happy <br>List
            </h1>
            </div>

            <!-- loop through all the data and put their info on the page -->
            {{#each people}} <!-- this is like a JS forEach loop -->
            <div class="col happy-item d-flex align-items-end">
                <a href="{{ID}}" class="u-link">
                    <h1 class="number-title">{{ID}}</h1>
                    <section class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3>{{Name}}</h3> 
                            </div>
                            
                            <div class="col">
                                <img src="images/{{Photo}}" alt="user image" class="u-avatar">
                            </div>
                        </div>
                    </section>
                </a>    
            </div>
            {{/each}}
        </div>
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox container-fluid">
        <span class="close">x</span>
        <!-- <div class="lbCont"> -->
            <div class="row lb-Container">
                <div class="col-7 lb-content">
                    <!-- render the database content here -->
                </div>

                <div class="col-xs happy-item-image">
                </div>
            </div>
        </div>
    </section>
</section>