.lightbox { 
    display: none;
    min-height: 100vh;
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 10000 !important;
    overflow: scroll !important;

    background-color: rgb(228, 98, 78, 0.95);

    img { max-width: 300px; }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid white;
        padding: 2px 14px 5px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.25);
    }

    .lb-Container {
        padding: 60px 30px 50px 30px;
    }

    .lb-content {
        padding: 30px;
    }

    .lbCont {
        padding-top: 20%;
    }

}

.show-lb { display: flex !important; }

.u-social {
    li { 
        display: inline-block;
        padding: 10px;
    }
}